<div class="splash">
  <div class="image-column"></div>
  <div class="welcome">
    <h3 class="center welcome-title">Bridging The Gap For Professionals.</h3>
    <br>
    <h3 class="center welcome-connect">Contract <span>|</span> Temp To Hire <span>|</span> Direct Hire</h3>
  </div>
</div>
<div class="row industries-row">
  <h1 class="center " id="we-serve">Industries We Serve</h1>
  <div class="col m12 l4" id='industry-column'>
    <div class="card industry-card">
      <h4 class="center-align industry-titles" id="tech-title">Technology</h4>
      <div class="col s4 offset-s4 underline"></div>
      <p class="center-align industry-info" id="tech-info">Our recruiting staff has been serving the tech community for over 20 years. We work closely with many companies, from Intel to fresh startups.</p>
    </div>
  </div>
  <div class="col m12 l4">
    <div class="card industry-card">
      <h4 class="center-align industry-titles" id="hr-title">Human Resources</h4>
      <div class="col s4 offset-s4 l8 offset-l2 underline2"></div>
      <p class="center-align industry-info" id="hr-info">Our staff has a very strong background in HR consulting and recruiting. We understand what it takes to assure best practices in the workplace.</p>
    </div>
  </div>
  <div class="col m12 l4">
    <div class="card industry-card acct-card">
      <h4 class="center-align industry-titles" id="accounting-title">Accounting</h4>
      <div class="col s4 offset-s4 underline"></div>
      <p class="center-align industry-info" id="accounting-info">Our staff wants to connect you with a team that understands your importance. We will help you find the right position for you.</p>
    </div>
  </div>
</div>
<div class="row" id="footer">

</div>
