<div class="splash">
  <div id="image-column"></div>
  <div class="welcome">
    <h3 class="center welcome-title">Bridging the gap for professionals.</h3>
    <br>
    <h3 class="center welcome-connect">Contract <span>|</span> Temp To Hire <span>|</span> Direct Hire</h3>
  </div>
</div>
<div class="container">
  <h1 class="center " id="we-serve">Industries We Serve</h1>
  <div class="row industries-row">
    <div class="col m12 l4">
      <div class="card industry-card">
        <h4 class="center-align industry-titles" id="tech-title">Technology</h4>
        <p class="center-align industry-info" id="tech-info">Our recruiting staff has been serving the tech community for over 20 years. We work closely with many companies, from Intel to fresh startups.</p>
      </div>
    </div>
    <div class="col m12 l4">
      <div class="card industry-card">
        <h4 class="center-align industry-titles" id="hr-title">HR</h4>
        <p class="center-align industry-info" id="hr-info">Our staff has a very strong background in HR consulting and recruiting. We understand what it takes to assure best practices in the workplace.</p>
      </div>
    </div>
    <div class="col m12 l4">
      <div class="card industry-card">
        <h4 class="center-align industry-titles" id="accounting-title">Accounting</h4>
        <p class="center-align industry-info" id="accounting-info">Our staff wants to connect you with a team that understands your importance. We will help you find the right position for you.</p>
      </div>
    </div>
  </div>
</div>
