@import "materialize";
/********** INDEX PAGE *************/
.my-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(25, 34, 49, 0.8);
  height: 50px;
}

a#hello-header {
  position: inherit;;
  font-size: 2em;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 3px;
}

.nav-links {
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  a {
    color: #fff;
    font-size: 1.2em;
  }
}

.splash {
  height: 60vh;
  width: 100vw;
  position: relative;
}

#image-column {
  background-image: url('bridges.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  filter: brightness(60%);
}

.welcome {
  position: absolute;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(152, 135, 143, 0.6);
  .welcome-title {
    color: #fff;
    font-size: 4em;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;
  }
  .welcome-connect {
    color: #fff;
    font-size: 2em;
    margin-bottom: 21.170px;
  }
  span {
    font-weight: 100;
  }
}

@media screen and (min-width: 901px) {
  .nav-links {
    margin-right: 40px;
  }
}

.industry-card {
  background-color: #494E6B;
  min-height: 250px;
}

.industry-titles {
  padding-top: 30px;
}

.industry-info {
  padding-right: 15px;
  padding-left: 15px;
}



/********** INDEX PAGE *************/






.flashes {
  margin-top: 60px;
}

/********* JOBS *********/
#duration_field {
  display: none;
}

.collapsible-header {
  line-height: 1px;
}

.collapsible-body {
  line-height: 5px;
}

#first-head {
  font-size: 1.4em;
}

#second-head {
  font-size: 1.2em;
}
li {
  list-style: none;
}

.card {
  text-align: center;
}

.job-card {
  min-height: 300px;
  position: relative;
}

#no-job-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********* JOBS *********/
table.bordered {
  border: 1px solid #000;
}

th {
  border: 1px solid #000;
  text-align: center;
}

td {
  border: 1px solid #000;
  text-align: center;
}

.file-upload {
  margin-bottom: 30px;
}

.edit-card {
  height: 132px;
}

.edit {
  margin-top: 50px;
}
/********* END JOBS *********/

/********* APPLICATIONS *********/
.application-card {
  height: 132px;
}

.apply {
  margin-top: 50px;
}
/********* END APPLICATIONS *********/
