@import "materialize";

.flashes {
  margin-top: 60px; 
}

/********* JOBS *********/
#duration_field {
  display: none;
}

.collapsible-header {
  line-height: 1px;
}

.collapsible-body {
  line-height: 5px;
}

#first-head {
  font-size: 1.4em;
}

#second-head {
  font-size: 1.2em;
}
li {
  list-style: none;
}

.card {
  text-align: center;
  min-height: 300px;
}
/********* JOBS *********/
