@import "materialize";

$blue: rgb(51, 58, 86);
$beige: rgb(247, 245, 230);
$light-blue: rgb(82, 101, 143);
$grey: rgb(232, 232, 232);

/********** INDEX PAGE *************/
.my-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(51, 58, 86, 0.8);
  height: 50px;
}

a#hello-header {
  position: inherit;;
  font-size: 2em;
  color: #F7F5E6;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 3px;
}

.nav-links {
  float: right;
  margin-right: 20px;
  margin-top: 12px;
  a {
    color: #F7F5E6;
    font-size: 1.2em;
  }
}

.splash {
  height: 60vh;
  width: 100vw;
  position: relative;
}

.image-column {
  background-image: url('bridges.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  filter: brightness(40%);
}

.welcome {
  animation: fadein 6s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .welcome-title {
    color: #fff;
    font-size: 4em;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;
  }
  .welcome-connect {
    color: #fff;
    font-size: 2em;
    margin-bottom: 21.170px;
    padding-left: 30px;
    padding-right: 30px;
  }
  span {
    font-weight: 100;
  }
}
@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1; }
}

@media screen and (min-width: 901px) {
  .nav-links {
    margin-right: 40px;
  }
}

.industries-row {
  background-color: #F7F5E6;
  padding-top: 11px;
  padding-bottom: 55px;
  margin-bottom: 0;
}

#we-serve {
  margin-bottom: 25px;
  color: #333A56;
}

.industry-card {
  background-color: #52658F;
  min-height: 250px;
}

.industry-titles {
  padding-top: 30px;
  margin-bottom: 0;
  color: #E8E8E8;
}

.underline {
  border-bottom: 1px solid #fff;
  margin-top: 4px;
}

.underline2 {
  border-bottom: 1px solid #fff;
  margin-top: 4px;
}

.industry-info {
  padding-right: 15px;
  padding-left: 15px;
  color: #E8E8E8;
  font-size: 20px;
}
/********** INDEX PAGE *************/

// .flashes {
//   margin-top: 200px;
//   z-index: 1;
//   font-size: 100px;
// }

/********* JOBS *********/
#duration_field {
  display: none;
}

.collapsible-header {
  line-height: 1px;
  transition: background-color 1s ease;
  background-color: rgba(51, 58, 86, 0.8);
  color: #fff;
}

.collapsible-header:hover {
  background-color: $blue;
  transition: 1s;
}

.collapsible-body {
  line-height: 5px;
  color: #fff;
  font-size: 18px;
  background-color: $blue;
}

.view-button {
  margin-top: 10px;
  background-color: $beige;
  color: $blue;
  &:hover {
    background-color: $grey;
    color: #fff;
  }
}

#first-head {
  font-size: 1.4em;
  margin-top: 0;
  padding-top: 20px;
}

#second-head {
  font-size: 1.2em;
}

li {
  list-style: none;
}

.compensation-p {
  margin-top: 6px;
}

.card {
  text-align: center;
}

.job-card {
  min-height: 300px;
  position: relative;
}

#no-job-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outlook-row {
  width: 100%;
  background-color: rgba(82, 101, 143, 0.6);
  padding-top: 27px;
  padding-bottom: 18px;
}

#job-outlook {
  margin-top: 0;
  color: $beige;
}

.job-outlook-column {
  .headers {
    font-size: 20px;
    color: $beige;
  }
  .outlook-info {
    font-size: 17px;
    margin-top: -8px;
    color: $beige;
  }
}

#job-list-title {
  color: $blue;
}

.jobs-row {
  width: 100%;
  background-color: #F7F5E6;
  padding-bottom: 17px;
  margin-top: -19px;
}

ul.collapsible {
  border-color: none;
}

.file-upload {
  margin-bottom: 30px;
}

.edit-card {
  height: 132px;
}

.edit {
  margin-top: 50px;
}

.new-job {
  height: 100vh;
  background-color: $beige;
  position: relative;
}

.new-job-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: $blue;
  padding-top: 30px;
  padding-bottom: 6px;
}
.form-input {
  label {
    font-size: 18px;
    color: #fff;
  }
  input {
    border-bottom: 1px solid $beige;
    color: #fff;
    font-size: 20px;
  }
  input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
}

.radio-buttons {
  label {
    color: #fff;
  }
  [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    padding-left: 27px;
    padding-right: 30px;
  }
  [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
    border: 2px solid #fff;
  }
  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: $beige;
    border: 2px solid $beige;
  }
}
.new-job-header {
  margin-top: 0;
  padding-top: 35px;
  color: #fff;
}







/********* END JOBS *********/

/********* APPLICATIONS *********/
.application-card {
  height: 132px;
}

.apply {
  margin-top: 50px;
}
/********* END APPLICATIONS *********/

/********* FOOTER ************/
footer {
  margin-top: -20px;
  width: 100%;
}

.page-footer {
  background-color: #333333;
}

.fa {
  font-size: 2em;
}
/********* END FOOTER ************/

/********* LOGIN ************/
.login {
  height: 100vh;
  position: relative;
  background-color: $beige;
}

.login-card {
  background-color: $blue;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header {
  color: #fff;
}

.login-input {
  label {
    font-size: 18px;
    color: #fff;
  }
  input {
    border-bottom: 1px solid $beige;
    color: #fff;
    font-size: 20px;
  }
  input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
  input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
}

@media screen and (min-width: 550px) {
  .login-card {
    width: 500px;
  }
}
/********* END LOGIN ************/

/********* SIGNUP ************/
.sign-up {
  height: 100vh;
  position: relative;
  background-color: $beige;
}

.signup-card {
  background-color: $blue;
  position: absolute;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-header {
  color: #fff;
}

.go-to {
  color: #fff;
  margin-top: -12px;
}

.signup-input {
  label {
    font-size: 18px;
    color: #fff;
  }
  input {
    border-bottom: 1px solid $beige;
    color: #fff;
    font-size: 20px;
  }
  input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
  input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
  input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
}
/********* END SIGNUP ************/

/********* CANDIDATES ************/
.candidates {
  height: 85vh;
  position: relative;
  background-color: $beige;
  z-index: 0;
}

.no-users {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .card {
    background-color: $blue;
    color: $beige;
  }
}

.candidates-list {
  margin-top: 0;
  padding-top: 80px;
}

.candidate-table {
  .table {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}

table.bordered {
  border: 1px solid #000;
}

tr.table-rows:hover {
  background-color: $light-blue !important;
  color: #fff;
  cursor: pointer;
}

th {
  border: 1px solid #000;
  text-align: center;
}

td {
  border: 1px solid #000;
  text-align: center;
}
/********* END CANDIDATES ************/


/********* PROFILE ************/
.profile {
  height: 100vh;
  background-color: $beige;
  position: relative;
}

.profile-card {
  color: $beige;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: $blue;
  h4.card-title {
    padding: 10px;
    border: 1px solid $grey;
    font-size: 30px;
    i {
      font-size: 20px;
      color: #fff;
    }
  }
  p.user-email {
    font-size: 20px;
  }
  p.user-phone_number {
    font-size: 20px;
  }
  p.user-street_address {
    font-size: 20px;
  }
  p.user-city-state {
    font-size: 20px;
  }
  p.user-zip_code {
    font-size: 20px;
  }
  p.user-skills {
    font-size: 20px;
  }
  a.doc-links {
    padding: 10px;
    color: $grey;
    font-size: 15px;
  }
  a.doc-links:hover {
    color: $beige;
  }
}

.profile-row {
  height: 600px;
}

.applied-row {
  width: 80%;
}

.applies {
  color: $blue;
}
/********* END PROFILE ************/


/********* JOB DETAIL ************/
.job-detail {
  height: 100vh;
  position: relative;
  background-color: $beige;
}

.job-detail-row {
  height: 900px;
}

.job-card {
  width: 100%;
  max-width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $blue;
  padding-top: 8px;
  padding-bottom: 42px;
  color: $beige;
  .detail-title {
    margin-bottom: 0;
  }
  .detail-location {
    margin-top: -5px;
    font-size: 35px;
    margin-bottom: 0;
  }
  .detail-job_type {
    margin-bottom: 0;
  }
  .detail-duration {
    margin-top: -6px;
    margin-bottom: 0;
  }
  .detail-compensation {
    font-size: 1.64rem;
    margin-top: -5px;
  }
  .detail-skills {
    text-align: left;
    margin-left: 20px;
  }
  .detail-description-head {
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;
  }
  .detail-description {
    text-align: left;
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 50px;
  }
}

.applicants {
  color: $blue;
  text-align: left;
}
/********* END JOB DETAIL ************/
